<a *ngIf="isAuthenticated()" class="button-link" routerLink="/admin/article/add-article/" nz-button nzType="link" nzShape="round">Add Article</a>

<nz-alert
  *ngIf="errorMessage"
  nzType="error"
  nzShowIcon
  nzCloseable
  [nzMessage]="errorMessage"
></nz-alert>

<div *ngIf="articles; else articlesUndefined">
  <app-article-thumbnail *ngFor="let article of articles" [article]="article"></app-article-thumbnail>
</div>

<nz-pagination [nzPageIndex]="1" [nzTotal]="articles?.length" [nzPageSize]="5" [nzShowTotal]="rangeTemplate"></nz-pagination>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>

<ng-template #articlesUndefined>
  <nz-skeleton></nz-skeleton>
</ng-template>
