@import "src/app/styles/mixins";
@import "src/app/styles/variables";

.job {
  @include row();

  app-image {
    width: 15em !important;

    @media (max-width: $small-screen-max-width) {
      max-width: 6em !important;
    }
  }

  .details {
    @include justified-col();
    padding-left: 1em;

    a {
      color: black;
    }

    .dates {
      @include row();

      .dot {
        margin: 0 0.3em;
      }
    }
  }

  .actions {
    margin-left: auto;

    button {
      border: none;
    }
  }
}
