@import "src/app/styles/mixins";

.job {
  @include row();

  app-image {
    width: 15em !important;
  }

  .details {
    @include justified-col();
    padding-left: 1em;

    a {
      color: black;
    }

    .dates {
      @include row();

      .dot {
        margin: 0 0.3em;
      }
    }
  }

  .actions {
    margin-left: auto;

    button {
      border: none;
    }
  }
}
