@import "src/app/styles/mixins";

nz-alert {
  margin-bottom: 20px;
}

.meta-data {
  @include row();
  justify-content: space-between;

  h1 {
    margin-bottom: 2em;
  }

  .button-link {
    border: 1px solid;
  }
}
