@import "src/app/styles/_mixins.scss";

.app {
  @include row();
  justify-content: space-around;
  min-height: 100%;
  max-width: 1700px;
  margin: auto;

  .side-navbar {
    @include hide-on-medium-screens();
    flex: 1 !important;
    max-width: 200px;
  }

  .main-window {
    flex: 2 !important;
    max-width: 1000px !important;
  }

  .side-bar {
    @include hide-on-medium-screens();
    flex: 1 !important;
    max-width: 300px;
  }

  .bottom-navbar {
    @include hide-on-big-screens();
  }
}
