<div class="article">

  <a class="content" routerLink="/article/{{article.id}}">
    <div>
      <h2 class="title">{{article.title}}</h2>
      <div
        class="thumbnail-description"
        nz-typography
        nzEllipsis
        [attr.title]=article.description
        [nzEllipsisRows]="5"
      >
        {{ article.description }}
      </div>
    </div>
    <app-image class="thumbnail-img" *ngIf="article.imageUrl" [src]="article.imageUrl"></app-image>
  </a>

  <div class="metadata">
    <small class="date">{{getDateString(article.createdDate)}}</small>
    <span class="dot">·</span>
    <small>{{article.estimatedReadingTime}}</small>
  </div>

  <div class="footer">
    <app-tags [tags]="article.tags"></app-tags>
  </div>

</div>
<nz-divider></nz-divider>
