@import "/src/app/styles/variables.scss";
@import "/src/app/styles/mixins.scss";

.article {
  margin: 40px 0;

  .title {
    font-weight: bold;
    @media (max-width: $small-screen-max-width) {
      font-size: 1.2em;
    }

    a {
      color: unset;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .metadata {
    color: grey;

    .dot {
      margin: 0 5px;
    }

    a, button {
      float: right;
      border: 1px solid;
      margin-left: 10px;
    }
  }

  .content {
    @include row();
    justify-content: space-between;

    .thumbnail-description {
      @include hide-on-small-screens();
      margin-right: 50px;
      text-align: justify;
    }

    .thumbnail-img {
      @include justified-col();
      max-width: 200px;
      max-height: 200px;
      margin-left: auto !important;

      @media (max-width: $small-screen-max-width) {
        max-width: 80px;
      }
    }
  }

  .footer {
    @include row();

    .tag {
      margin-right: 10px;
    }

    .minutesToRead {
      @include justified-col();
      color: grey;
    }
  }
}
