@import "src/app/styles/mixins";
@import "src/app/styles/variables";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~prismjs/themes/prism.css";

@import '~medium-editor/dist/css/medium-editor.min.css';
@import '~medium-editor/dist/css/themes/default.min.css';

@import 'node_modules/ngx-sharebuttons/themes/modern';
@import 'node_modules/ngx-sharebuttons/themes/circles';

html {
  height: 100% !important;

  body {
    height: 100% !important;
    margin: 0;
    font-size: 14px !important;
  }
}

blockquote {
  margin-left: 5%;
  width: 90%;
  border-left: 5px solid lightgrey;
  background: #f9f9f9;
  padding: 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
