@import "/src/app/styles/variables.scss";
@import "/src/app/styles/mixins.scss";

.app-side-navbar {
  @include justified-col();
  height: 100vh;
  position: fixed;
  border-right: 1px solid $border-color;

  button, a {
    margin-left: auto;
    margin-right: 1em;
  }

  .custom-svg {
    width: 1.1em;
    height: 1.1em;
    color: cornflowerblue;
    outline: cornflowerblue;

    path {
      stroke: cornflowerblue;
    }
  }

  nz-badge {
    margin-top: auto;
    margin-bottom: 10px;
  }
}
