@import "/src/app/styles/variables.scss";
@import "/src/app/styles/mixins.scss";

.app-side-navbar {
  @include justified-col();
  height: 100vh;
  position: fixed;
  border-right: 1px solid $border-color;

  button, a {
    margin-left: auto;
    margin-right: 1em;
  }
  //border: 1px solid;
}
