<nz-alert *ngIf="successMessage" nzType="success" [nzDescription]="successMessage" nzShowIcon nzCloseable></nz-alert>
<nz-alert *ngIf="errorMessage" nzType="error" [nzDescription]="errorMessage" nzShowIcon nzCloseable></nz-alert>

<form nz-form [formGroup]="articleForm" (ngSubmit)="submitForm()">
  <div class="meta">
    <h1 class="page-title">New Article</h1>
    <button class="submit" nz-button nzShape="round" [nzType]="'primary'" nzSize="large">Submit</button>
  </div>

  <nz-form-item>
    <nz-form-control nzErrorTip="Title field is required">
      <input nz-input nzSize="large" nzBorderless formControlName="title" type="text" id="title" placeholder="Title">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Description field is required">
      <textarea nzAutosize nzBorderless formControlName="description" nz-input id="description" placeholder="Description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Image URL field is invalid">
      <input nz-input nzBorderless formControlName="imageUrl" type="imageUrl" id="imageUrl" placeholder="Image URL">
      <label for="imageUrl" *ngIf="articleForm.controls['imageUrl'].value" class="image">
        <app-image [src]="articleForm.controls['imageUrl'].value"></app-image>
      </label>
    </nz-form-control>
  </nz-form-item>

  <app-page-editor [form]="articleForm" [contentControls]="contentControls"></app-page-editor>

  <nz-form-item class="tags">
    <nz-form-control>
      <nz-select nzMode="tags" nzPlaceHolder="Tags" formControlName="tags" nzBorderless >
        <nz-option *ngFor="let tag of availableTags" [nzLabel]="tag" [nzValue]="tag"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

</form>
