nz-select {
  width: 100%;
}

.option-title {
  font-weight: 400;
  font-size: 1em;
}

.option-description {
  font-size: 0.8em;
}

nz-input-group {
  border: none;
}

.ant-input-suffix {
  margin: 0 !important;
}
