<form nz-form [formControl]="searchText" (ngSubmit)="searchArticles()">
  <nz-form-control>
    <nz-input-group [nzPrefix]="inputClearTpl" [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input [formControl]="searchText" placeholder="search"/>
    </nz-input-group>
  </nz-form-control>
</form>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #inputClearTpl>
  <i
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="searchText.value != ''"
    (click)="searchText.setValue('')"
  ></i>
</ng-template>
