<nz-alert
  *ngIf="errorMessage"
  nzType="error"
  nzShowIcon
  nzCloseable
  [nzMessage]="errorMessage"
></nz-alert>

<div class="article" *ngIf="article else articleUndefined">
  <div class="metadata">
    <span>{{getDateString(article.createdDate)}}</span>
    <span class="dot">·</span>
    <span>{{article.estimatedMinutesToRead}} min read</span>
  </div>
  <h1 class="title">{{article.title}}</h1>

  <p class="description">{{article.description}}</p>
  <app-image *ngIf="article.imageUrl" [src]="article.imageUrl"></app-image>

  <div *ngFor="let section of article.content" class="content">
    <app-code-snippet *ngIf="section.type == 'code'" [code]="section.content" [language]="section.language"></app-code-snippet>
    <app-image *ngIf="section.type == 'image'" [src]="section.imageUrl"></app-image>
    <p [innerHTML]="section.content" *ngIf="section.type == 'paragraph'"></p>
  </div>

  <app-tags class="tags" [tags]="article.tags"></app-tags>

</div>

<ng-template #articleUndefined>
  <nz-skeleton></nz-skeleton>
</ng-template>
