@import "src/app/styles/mixins";

.article {
  @include col();
  margin-top: 50px;

  .metadata {
    font-size: small;
    color: grey;

    .dot {
      margin: 0 5px;
    }
  }

  .title {
    font-weight: bold;
  }

  app-image {
    margin: 20px auto;
    max-width: 500px;
    max-height: 500px;
  }

  .tags {
    margin-top: 10px;
  }

  .content {
    display: flex;

    p, app-code-snippet {
      width: 100%;
    }
  }
}
