<nz-alert
  *ngIf="errorMessage"
  nzType="error"
  nzShowIcon
  nzCloseable
  [nzMessage]="errorMessage"
></nz-alert>

<div class="article" *ngIf="article else articleUndefined">
  <div class="metadata">
    <small>{{getDateString(article.createdDate)}}</small>
    <span class="dot">·</span>
    <small>{{article.estimatedReadingTime}}</small>
    <a *ngIf="isAuthenticated()" routerLink="/admin/article/edit-article/{{article.id}}" nz-button nzType="link" nzShape="round">Edit</a>
    <button *ngIf="isAuthenticated()" nz-button nzType="default" nzShape="round"
            nz-popconfirm="true" nzDanger
            nzPopconfirmTitle="Are you sure you want to delete this article?"
            nzOkText="Delete" [nzOkDanger]="true"
            (nzOnConfirm)="deleteArticle()"
            nzPopconfirmPlacement="topLeft">Delete</button>
  </div>
  <h1 class="title">{{article.title}}</h1>

  <p class="description">{{article.description}}</p>
  <app-image class="article-image" *ngIf="article.imageUrl" [src]="article.imageUrl"></app-image>

  <div *ngFor="let section of article.content; let i = index" class="content">
    <app-code-snippet *ngIf="section.type == 'code'"
                      [id]="i"
                      [code]="section.content"
                      [language]="section.language"
    ></app-code-snippet>
    <app-image *ngIf="section.type == 'image'" [src]="section.imageUrl" class="article-image"></app-image>
    <app-section [html]="section.content!" *ngIf="section.type == 'paragraph'"></app-section>
  </div>
  <app-tags class="tags" [tags]="article.tags"></app-tags>

  <share-buttons [theme]="'modern-light'"
                 [include]="['facebook','twitter','linkedin','whatsapp','email','copy']"
                 [show]="6"
                 [showText]="false"
                 [autoSetMeta]="false"
  ></share-buttons>
</div>

<ng-template #articleUndefined>
  <nz-skeleton></nz-skeleton>
</ng-template>
