@import "src/app/styles/mixins";

.article {
  @include col();
  margin: 50px 0;

  .metadata {
    color: grey;

    .dot {
      margin: 0 5px;
    }

    a, button {
      float: right;
      border: 1px solid;
      margin-left: 10px;
    }
  }

  .title {
    font-weight: bold;
  }

  .description {
    font-size: medium;
  }

  .article-image {
    margin: 20px auto;
    max-width: 500px;
    max-height: 500px;
  }

  .tags {
    margin-top: 10px;
  }

  .content {
    display: flex;

    p, app-code-snippet, app-section {
      width: 100%;
    }

    app-section {

      p {
        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
}
