<div class="app-side-bar">

  <form nz-form [formControl]="searchText" (ngSubmit)="searchArticles()">
    <nz-form-control [nzSpan]="14">
      <nz-input-group [nzPrefix]="inputClearTpl" [nzSuffix]="suffixIconSearch" style="width: max-content">
        <input type="text" nz-input [formControl]="searchText" placeholder="search"/>
      </nz-input-group>
    </nz-form-control>
  </form>

  <div class="tags">
    <h4>Recommended Topics</h4>
    <app-tags [tags]="tags" [skeleton]="true"></app-tags>
  </div>

</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #inputClearTpl>
  <i
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="searchText.value != ''"
    (click)="searchText.setValue('')"
  ></i>
</ng-template>
