<div class="app-side-bar">
  <nz-input-group [nzPrefix]="inputClearTpl" [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input [(ngModel)]="searchText" placeholder="search"/>
  </nz-input-group>

  <div class="tags">
    <h4>Recommended Topics</h4>
    <app-tags [tags]="tags" [skeleton]="true"></app-tags>
  </div>

</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #inputClearTpl>
  <i
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="searchText"
    (click)="searchText = null"
  ></i>
</ng-template>
